@model IEnumerable<CasusRegistratie.Data.Account>

@{
    ViewBag.Title = "Account OverView";
}

<h2>AccountOverView</h2>

<p>
    @Html.ActionLink("Create New", "Register")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="@Url.Content("https://csb10032000cd952116.blob.core.windows.net/photos/" + item.Thumbnail)" />
        </td>
    </tr>
}

</table>
